.card-services {
  .card-image {
    height: 258px;
    background-size: cover;
    background-position: center;
  }
  .card-body {
    @include media-breakpoint-down('sm'){
      padding: 20px 20px;
    }
    p {
      margin-bottom: 0;
    }
    .btn {
      @include media-breakpoint-down('sm'){
        min-width: 193px;
      }
    }
  }
}
.card-icon {
  width: 120px;
  height: 146px;
  .card-content {
    max-width: 120px;
    position: relative;
    p {
      font-family: GTHaptik;
    }
  }
}
.card-tab {
  .feature-image {
    width: 100%;
    height: 244px;
    background-size: cover;
    background-position: center;
    @include media-breakpoint-down('sm'){
      height: 146px;
    }
  }
  .card-content {
    .card-text {
      font-weight: $font-weight-medium;
    }
    .card-right-content {
      h5 {
        font-family: $font-family-sans-serif;
      }
      p {
        margin-bottom: 4px;
        font-weight: $font-weight-medium;
      }
    }
    .btn {
      @include media-breakpoint-down('sm'){
        min-width: 335px;
      }
    }
  }
}
.card-team {
  .team-image {
    background-size: cover;
    background-position: center;
    height: 258px;
  }
  .card-body {
    @include media-breakpoint-down('sm'){
      padding: 20px;
    }
  }
}
.card-news {
  .news-image {
    background-size: cover;
    background-position: center;
    height: 258px;
    
  }
  .card-body {
    @include media-breakpoint-down('sm'){
      padding: 20px;
    }
  }
}
.card-contact {
  padding: 27px 29px;
}
.card-event {
  position: relative;
  .event-image {
    background-size: cover;
    background-position: center;
    height: 258px;
  }
  .card-body {
    padding-bottom: 60px;
    @include media-breakpoint-down('sm'){
      padding: 20px;
      padding-bottom: 60px;
      .state-title {
        bottom: 20px;
      }
    }
    .state-title {
      position: absolute;
      bottom: 10px;
    }
  }
  .category-workshops {
    small, .state-title {
      color: $info;
    }
  }
  .category-events {
    small, .state-title {
      color: $orange;
    }
  }
  .category-courses {
    small, .state-title {
      color: $danger;
      font-size: 16px;
    }
  }
}